
<body>
<section id="wrapper">
	<section id="bg">
		<%= image_tag("wall.jpg") %>
	</section>
	<!-- /#bg -->

	<section class="content-box">
		<h1 id="logo"><a href="#" class="notext">YOUR LOGO</a></h1>
		<section class="blackbox">
			<h2>Try the fancy app first</h2>
			<p>This app was developed for a laboratory work at technical university of Moldova</p>
			<form action="#">
				<div class="btn btn-default btn-lg button-text-submit"><span class="network-name"><%= link_to "Go to post", posts_path %></span></div>
			</form>
		</section>
		<!-- /.blackbox -->
		<footer class="footer">
			Created By <a href="https://github.com/dianaartiom">Diana Artiom</a>
		</footer>
	</section>
	<!-- /.content-box -->
</section>
</body>
